{% extends 'baseAdmin.html' %}

{% block content %}
            <section>
                <div class="jumbotron" data-aos="zoom-in" style="padding-bottom: 200px;margin: 20px;background-color: rgba(233,236,239,0.95);height: 200px;">
                    <h4>Notifications</h4>
                    <p class="text-left" style="padding: 50px;">No Notifications</p>
                </div>
                <div class="jumbotron" data-aos="zoom-in" style="padding-bottom: 200px;margin: 20px;background-color: rgba(233,236,239,0.95);">
                    <h4>Status</h4>
                    <p class="text-left" style="padding: 50px;">Status here</p>
                </div>
            </section>

{% endblock %}
